@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: JetBrainsMonoItalic;
    src: url(../fonts/JetBrainsMono-Italic.ttf);
    font-weight: italic;
}
@font-face {
    font-family: JetBrainsMonoBold;
    src: url(../fonts/JetBrainsMono-Bold.ttf);
    font-weight: bolder;
}
@font-face {
    font-family: JetBrainsMonoSemiBold;
    src: url(../fonts/JetBrainsMono-SemiBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: PlaystationBold;
    src: url(../fonts/Playstation-Bold.ttf);
}
@font-face {
    font-family: XboxRegular;
    src: url(../fonts/Xbox.ttf);
}
@font-face {
    font-family: Horizon;
    src: url(../fonts/Horizon.ttf);
}