:root {
    --accent-colour: #E63946;
    --site-colour-01: #fff;
    --site-colour-02: #1E1E1E;

    --headerHeight: 3.75rem;
    scroll-behavior: smooth;
}
* {
    font-family: JetBrainsMono, monospace;
    color: var(--site-colour-01);
    /* outline: 1px solid red; */
}
.playstation {
    color: #1565c0;
    font-family: PlaystationBold, JetBrainsMono, monospace;
    font-size: 1rem;
    font-weight: bold;
}
.xbox {
    color: #107C10;
    font-family: XboxRegular, Cambria;
    font-size: 1rem;
    font-weight: bold;
}
.horizon {
    color: var(--site-colour-02);
    font-family: Horizon, Cambira;
    font-size: 1.4rem;
}
.red-accent {
    color: var(--accent-colour);
}
.red-accent-animation {
    color: var(--site-colour-01);
    position: relative;
}
.red-accent-animation::before {
    -webkit-text-stroke: 1.5px var(--accent-colour);
    color: var(--accent-colour);
    content: attr(data-text);
    height: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    animation: red-animation 8s linear infinite;
    white-space: nowrap;
}
.red-accent-bold {
    color: var(--accent-colour);
    font-weight: bold;
}
body {
    background-color: var(--site-colour-02);
}
body::after {
    position: absolute;
    width: 0rem;
    height: 0rem;
    overflow: hidden;
    z-index: -1;
    content: url(../media/img/img_github_hovered.png) url(../media/img/img_linkedin_hovered.png);
}
a {
    cursor: pointer;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2.25rem;
    text-align: center;
}
p {
    font-size: 1rem;
}
main {
    margin: var(--headerHeight) 0;
}
.section-title {
    margin-bottom: 2rem;
}
/* ---------------HEADER SECTION----------------- */
.header {
    align-items: center;
    background-color: var(--site-colour-02);
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    font-size: 1.3rem;
    height: var(--headerHeight);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-name {
    flex-basis: 20%;
    text-align: left;
    margin-left: 2.5rem;
    padding: 10px 0;
}
.header-name p {
    font-size: 1.3rem;
}
.header-menu {
    flex-basis: 60%;
    padding: 10px 0;
}
.header-menu ul {
    list-style: none;
    padding: 10px 0;
}
.header-menu ul li {
    display: inline;
}
.header-menu ul li a {
    padding: 0px 10px;
    transition: all 0.3s ease 0s;
}
.header-menu ul li a:hover {
    color: var(--accent-colour);
    transform: translateY(10px);
}
.header-socials {
    column-gap: 5px;
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    margin-right: 2.5rem;
}
.header-socials-linkedin {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-socials-linkedin:hover {
    background-image: url(../media/img/img_linkedin_hovered.png);
}
.header-socials-github {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_github.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-socials-github:hover {
    background-image: url(../media/img/img_github_hovered.png);
}
.header-mobile { 
    align-items: center;
    bottom: 0;
    display: none;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header-menu-mobile {
    align-self: center;
    padding: 1rem;
    background-color: var(--site-colour-02);
    border-radius: 10px;
    border: 2px var(--accent-colour) solid;
    width: 75%;
    min-width: 250px;
}
.header-menu-mobile ul {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}
.mobile-btn-home {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-home:hover {
    background-image: url(../media/img/img_home_hovered.png);
}
.mobile-btn-showcase {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_showreel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-showcase:hover {
    background-image: url(../media/img/img_showreel_hovered.png);
}
.mobile-btn-projects {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_projects.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-projects:hover {
    background-image: url(../media/img/img_projects_hovered.png);
}
.mobile-btn-tools {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_tools.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-tools:hover {
    background-image: url(../media/img/img_tools_hovered.png);
}
.mobile-btn-contact {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-contact:hover {
    background-image: url(../media/img/img_contact_hovered.png);
}

/* ---------------HERO SECTION----------------- */

.section-hero {
    --section-title-spacing: 1rem;
    padding: 4rem 0rem;
    /* background-color: aquamarine; */
}
.section-hero .section-title-name {
    text-align: center;
}
.section-hero-role {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-hero .section-hero-line {
    align-items: center;
    background-color: var(--site-colour-01);
    display: flex;
    height: 0.15rem;
    justify-content: center;
    margin: var(--section-title-spacing) auto;
    width: 40%;
}
.section-hero .section-hero-description {
    text-align: center;
    margin: calc(var(--section-title-spacing) + 2rem) 20vw 4rem 20vw;
    flex-basis: 28rem;
}
.hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}
.hero-contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.hero-contact-container a {
    display: flex;
    justify-content: center;
   
}
.contact-button {
    background-color: var(--site-colour-02);
    border-radius: 5rem;
    color: var(--site-colour-01);
    font-family: JetBrainsMono, monospace;
    font-size: 1.2rem;
    outline: 3px solid var(--site-colour-01);
    padding: 1rem 6rem;
    
    transition: all 0.3s ease 0s;
}
.contact-button:hover {
    background-color: var(--accent-colour);
    transform: translateY(-10px);
}
.self-img {
    padding: 0.1rem;
}
.hero-skills {
    flex-basis: 21rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}
.hero-skills p {
    font-size: 1.1rem;
}
.skill-bar {
    --border-width: 0.15rem;
    border: var(--border-width) solid var(--site-colour-01);
    background-color: var(--site-colour-02);
    height: 1.25rem;
    width: calc(100%-calc(2 x var(--border-width)));
}
.skill-bar-fill {
    height: 100%;
    background-color: var(--accent-colour);
}
.skill-wwise {
    width: 85%;
}
.skill-cpp {
    width: 50%;
}
.skill-lua {
    width: 70%;
}
.skill-py {
    width: 40%;
}
.skill-p4 {
    width: 75%;
}
.skill-ue {
    width: 90%;
}
.skill-git {
    width: 40%;
}
.skill-web {
    width: 20%;
}


/* ---------------SHOWCASE SECTION----------------- */

.section-showcase {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.75rem 0;
}
.showcase-container {
    /* background-color: aqua; */
    display: grid;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.showcase-item {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    object-fit: cover;
    justify-content: center;
}
.showcase-video {
    height: 100%;
    width: 60%;
    object-fit: contain;
}
.showcase-info {
    background-color: var(--site-colour-01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
.showcase-feature {
    color: var(--site-colour-02);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}
.showcase-category {
    font-size: 1.4rem;
    color: var(--accent-colour);
    font-style: italic;
}
.showcase-project {
    color: var(--site-colour-02);
    font-size: 1.8rem;
    text-align: center;
}
.showcase-description {
    color: var(--site-colour-02);
    font-size: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}


/* ---------------PROJECT SECTION----------------- */

.section-projects {
    padding: 3.75rem 0;
}
.section-projects-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1rem;
    position: relative;
}
.section-projects-group-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
}
.section-projects-group-item-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    object-fit: cover;
    /* width: 50%; */
}
.section-projects-group-item-info div {
    color: var(--site-colour-02);
}
.section-projects-group .section-projects-group-item-info li{
    padding-left: 3rem;
    color: var(--site-colour-02);
}
.platform-icon {
    width: 2rem;
}
.platform-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.section-projects-group-item-info {
    align-items: center;
    background-color:var(--site-colour-01);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}
.project-title {
    color: var(--site-colour-02);
    font-size: 2rem;
    font-weight: bold;
}
.project-dev {
    color: var(--accent-colour);
    font-size: 1.6rem;
    font-weight: bold;
}
.project-role {
    color: var(--site-colour-02);
    font-size: 1.4rem;
    margin-top: 0.2rem;
}
.img-engine {
    height: 50px;
    width: 50px;
    margin: 0.7rem 0;
}
.project-info {
    padding-bottom: 1.5rem;
    color: var(--site-colour-02);
    font-size: 1rem;
    flex-basis: 100px;
}

/* ---------------FOOTER SECTION----------------- */

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.copyright {
    text-align: center;
}


/* ---------------MEDIA QUERIES----------------- */

/* small devices */
@media all and (max-width: 915px){
    .header-menu {
        display: none;
    }
    .header {
        justify-content: center;
        column-gap: 2rem;
    }
    .header-name {
        margin: 0;
        flex-basis: 0;
    }
    .header-socials {
        margin: 0;
        flex-basis: 0;
    }
    .hero-about {
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 0;
    }
    .header-mobile {
        display: flex;
    }
    .section-projects-group {
        grid-template-columns: 1fr;
    }
  
}
@media all and (max-width: 1312px){
    .showcase-item {
        flex-direction: column;
    }
    .showcase-video {
        width: 100%;
    }
    .showcase-info {
        width: 100%;
        padding: 1rem 0;
    }
    .showcase-project {
        margin-top: -7.5px;
    }
    .showcase-container {
        grid-template-columns: 1fr;
    }
}

/* ---------------KEYFRAMES----------------- */

@keyframes red-animation {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    70% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}