:root {
    --accent-colour: #E63946;
    --site-colour-01: #fff;
    --site-colour-02: #1E1E1E;

    --headerHeight: 3.75rem;
    scroll-behavior: smooth;

    --barFillDuration: 1.5s;
    --barTextFade: 1s;
    --barTextDelay: 1s;

    --lineSpeed: 1.5s;
    --lineDelay: 1s;
}
* {
    font-family: JetBrainsMono, monospace;
    color: var(--site-colour-01);
    /* outline: 1px solid red; */
}
.playstation {
    color: #1565c0;
    font-family: PlaystationBold, JetBrainsMono, monospace;
    font-size: 1rem;
    font-weight: bold;
}
.xbox {
    color: #107C10;
    font-family: XboxRegular, Cambria;
    font-size: 1rem;
    font-weight: bold;
}
.horizon {
    color: var(--site-colour-02);
    font-family: Horizon, Cambira;
    font-size: 1.4rem;
}
.red-accent {
    color: var(--accent-colour);
}
.red-accent-bold {
    color: var(--accent-colour);
    font-weight: bold;
}
body {
    background-color: var(--site-colour-02);
}
body::after {
    position: absolute;
    width: 0rem;
    height: 0rem;
    overflow: hidden;
    z-index: -1;
    content: url(../media/img/img_github_hovered.png) url(../media/img/img_linkedin_hovered.png);
}
a {
    cursor: pointer;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2.25rem;
    text-align: center;
}
p {
    font-size: 1rem;
}
main {
    margin: var(--headerHeight) 0;
}
.section-title {
    margin-bottom: 2rem;
}
/* ---------------HEADER SECTION----------------- */

.home {
    padding-bottom: 3rem;
}
.header {
    align-items: center;
    background-color: var(--site-colour-02);
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    font-size: 1.3rem;
    height: var(--headerHeight);
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1000;
    column-gap: 1rem;
    width: 100%;
    justify-content: space-between;
}
.header-name {
    text-align: left;
    padding-left: 2rem;
}
.header-name p {
    font-size: 1.3rem;
}
.header-menu {
    padding: 10px 0;
}
.header-menu ul {
    list-style: none;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.header-menu ul li {
    display: inline;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-menu ul li a {
    transition: all 0.3s ease 0s;
    font-size: 1.5rem;
}
.header-menu ul li a:hover {
    color: var(--accent-colour);
}
.header-socials {
    column-gap: 5px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}
.header-socials-linkedin {
    width: 3rem;
    height: 3rem;
    background-image: url(../media/img/img_linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;
}
.header-socials-linkedin:hover {
    background-image: url(../media/img/img_linkedin_hovered.png);
}
.header-socials-github {
    width: 3rem;
    height: 3rem;
    background-image: url(../media/img/img_github.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;
}
.header-socials-github:hover {
    background-image: url(../media/img/img_github_hovered.png);
}
.header-mobile { 
    align-items: center;
    bottom: 0;
    display: none;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header-menu-mobile {
    align-self: center;
    padding: 1rem;
    background-color: var(--site-colour-02);
    border-radius: 10px;
    border: 2px var(--site-colour-01) solid;
    min-width: 350px;
    width: 75%;
}
.header-menu-mobile ul {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}
.mobile-btn-home {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-home:hover {
    background-image: url(../media/img/img_home_hovered.png);
}
.mobile-btn-showcase {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_showreel.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-showcase:hover {
    background-image: url(../media/img/img_showreel_hovered.png);
}
.mobile-btn-projects {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_projects.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-projects:hover {
    background-image: url(../media/img/img_projects_hovered.png);
}
.mobile-btn-tools {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_tools.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-tools:hover {
    background-image: url(../media/img/img_tools_hovered.png);
}
.mobile-btn-contact {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../media/img/img_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-btn-contact:hover {
    background-image: url(../media/img/img_contact_hovered.png);
}

/* ---------------HERO SECTION----------------- */

.section-hero {
    --section-title-spacing: 1rem;
    padding-bottom: 3rem;
    position: relative;
}
.name-container {
    display: flex;
    justify-content: center;
}
.name {
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min-content;
}

.name-line {
    display: flex;
}
.title-line {
    align-items: center;
    background-color: var(--site-colour-01);
    display: flex;
    height: 0.15rem;
    justify-content: center;
    margin: var(--section-title-spacing) auto;
    position: relative;
    width: 100%;
}
.title-line::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.title-line::before {
    background: var(--site-colour-02);
    animation: lineDraw var(--lineSpeed) var(--lineDelay) ease forwards;
}

@keyframes lineDraw {
    to {
        left: 100%;
    }
}
.typewriter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.job-role {
    --typewriterLength: 24;
    --typewriterSpeed: 3s;
    --typewriterInitDelay: 2.3s;
    --typewriterPostDelay: 5s;
    --typewriterBlinkSpeed: 1.2s;
    display: flex;
    position: relative;
    justify-self: center;
}
.job-role::before,
.job-role::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.job-role::before {
    background: var(--site-colour-02);
    animation: typewriter var(--typewriterSpeed) var(--typewriterInitDelay) steps(var(--typewriterLength)) forwards;
}
.job-role::after {
    width: 2px;
    background: var(--site-colour-01);
    animation: 
        typewriter var(--typewriterSpeed) var(--typewriterInitDelay) steps(var(--typewriterLength)) forwards,
        textLine var(--typewriterBlinkSpeed) calc(var(--typewriterSpeed) + var(--typewriterInitDelay)) ease-in-out infinite,
        textLine var(--typewriterBlinkSpeed) ease-in-out;
}
@keyframes typewriter {
    to { 
        left: 100%;
    }
}

.description {
    text-align: center;
    margin: calc(var(--section-title-spacing) + 2rem) 20vw 4rem 20vw;
    flex-basis: 28rem;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}
.hero-contact-container a {
    display: flex;
    justify-content: center;
   
}
.self-img {
    padding: 0.1rem;
}
.skills {
    flex-basis: 21rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    gap: 10px;
}
.skills p {
    font-size: 1.1rem;

}
.skill-bar {
    height: 1.25rem;
    background: #494949;
    border-radius: 3px;
}
.skill-bar-fill {
    height: 100%;
    background: var(--accent-colour);
    border-radius: 3px;
    position: relative;
    width: 0%;
    animation: fillBars var(--barFillDuration) var(--lineDelay) ease forwards;
}
.skill-bar-fill::before {
    content: attr(per);
    position: absolute;
    color: var(--site-colour-01);
    border-radius: 4px;
    font-size: 1rem;
    top: 0;
    right: 17px;
    transform: translateX(50%);
    animation: numbersFade var(--barTextFade) ease calc(var(--lineDelay) + var(--barTextDelay)) forwards;
    opacity: 0;
}
@keyframes fillBars {
    to {
        width: 100%;
    }
}
@keyframes numbersFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.blink {
    animation: textLine 1.2s ease-in-out infinite;
    color: var(--site-colour-01);
    background-color: var(--site-colour-01);
    width: 1.5px;
    margin: 0 3px;
}

@keyframes textLine {
   0% {
    opacity: 0;
   }
   1%, 50%{
    opacity: 100%;
   }
   51%, 100%{
    opacity: 0;
   }
  
}

/* ---------------SHOWCASE SECTION----------------- */

.section-showcase {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.75rem 0;
}
.showcase-container {
    display: grid;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.showcase-item {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.showcase-titles {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0.5rem;
}
.showcase-video {
    height: 50%;
    width: 100%;
    object-fit: contain;
}
.showcase-info {
    background-color: var(--site-colour-01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    /* min-height: 400px; */
}
.showcase-feature {
    color: var(--site-colour-02);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}
.showcase-category {
    font-size: 1.6rem;
    color: var(--accent-colour);
    font-style: italic;
}
.showcase-project {
    color: var(--site-colour-02);
    font-size: 1.8rem;
    text-align: center;
}
.showcase-description {
    color: var(--site-colour-02);
    font-size: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}


/* ---------------PROJECT SECTION----------------- */

.section-projects {
    padding-bottom: 3.75rem;
}
.section-projects-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1rem;
    position: relative;
}
.section-projects-group-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
}
.section-projects-group-item-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    object-fit: cover;
    /* width: 50%; */
}
.section-projects-group-item-info div {
    color: var(--site-colour-02);
}
.section-projects-group .section-projects-group-item-info li{
    padding-left: 3rem;
    color: var(--site-colour-02);
}
.platform-icon {
    width: 2rem;
}
.platform-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.section-projects-group-item-info {
    align-items: center;
    background-color:var(--site-colour-01);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}
.project-title {
    color: var(--site-colour-02);
    font-size: 2rem;
    font-weight: bold;
}
.project-dev {
    color: var(--accent-colour);
    font-size: 1.6rem;
    font-weight: bold;
}
.project-role {
    color: var(--site-colour-02);
    font-size: 1.4rem;
    margin-top: 0.2rem;
}
.img-engine {
    height: 50px;
    width: 50px;
    margin: 0.7rem 0;
}
.project-info {
    padding-bottom: 1.5rem;
    color: var(--site-colour-02);
    font-size: 1rem;
    flex-basis: 100px;
}

/* ---------------TOOLS SECTION----------------- */

.section-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    padding-bottom: 3rem;
}
.tools-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    background-color: var(--site-colour-01);
    margin: 1rem 0;
}
.tools-name {
    color: var(--site-colour-02);
}
.tools-status {
    color: var(--accent-colour);
    font-style: italic;
    font-size: 1.3rem;
}
.tools-info {
    font-size: 1rem;
    padding: 1rem 6rem;
    text-align: center;
    color: var(--site-colour-02);
}
.tools-link {
    border: solid 2px var(--site-colour-02);
    border-radius: 10px;
}
.sequence-github {
    color: var(--site-colour-02);
    font-size: 1.2rem;
    transition: all 0.1s ease 0s;
    font-style: italic;
    padding: 10px;
    
}

.sequence-github:hover {
    color: var(--accent-colour);
    transform: translateY(-2px);
}

/* ---------------FOOTER SECTION----------------- */

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.copyright {
    text-align: center;
}


/* ---------------MEDIA QUERIES----------------- */

/* small devices */
@media all and (max-width: 915px){
    .header-menu {
        display: none;
    }
    .header {
        justify-content: center;
        column-gap: 2rem;
    }
    .header-name {
        margin: 0;
        flex-basis: 0;
    }
    .header-socials {
        margin: 0;
        flex-basis: 0;
    }
    .about {
        flex-direction: column;
        row-gap: 3rem;
        column-gap: 0;
    }
    .header-mobile {
        display: flex;
    }
    .section-projects-group {
        grid-template-columns: 1fr;
    }
    .btn-top-container {
        display: none;
    }
    .job-role::before {
        animation: none;
        background-color: transparent;
    }
    .job-role::after {
        animation: none;
        background: transparent;
    }
    
  
}
@media all and (max-width: 1312px){
    .showcase-item {
        flex-direction: column;
    }
    .showcase-video {
        width: 100%;
    }
    .showcase-info {
        padding: 1rem 0;
        height: 60%;
    }
    .showcase-project {
        margin-top: -7.5px;
    }
    .showcase-container {
        grid-template-columns: 1fr;
    }
}
@media all and (max-width: 550px) {
    .job-role {
        flex-direction: column;
    }
}

